# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

#The plots can be pushed and commited

# Logs
*.log